.game {

  ul {
    margin: 0;
    padding: 0;
    li {
      font-weight: 700;
      list-style: none;
      margin: 1em;
      padding: .5em;
      display: inline-block;

      &:hover {
        color: red;
        cursor: pointer;
      }
    }
  }
  .gameDiv {
    border: 1px solid black;
    min-height: 200px; 
    .cave {
      width: 150px;
      display:inline-block;
      margin: 5px;
    }
  }

  .hexagon {
    position: relative;
    width: 120px; 
    height: 69.28px;
    background-color: #ffffff;
    margin: 34.64px 0;
    border-left: solid 2px #333333;
    border-right: solid 2px #333333;
    display: inline-block;
  }
  
  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 84.85px;
    height: 84.85px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 15.5736px;
  }
  
  .hexagon:before {
    top: -42.4264px;
    border-top: solid 2.8284px #333333;
    border-right: solid 2.8284px #333333;
  }
  
  .hexagon:after {
    bottom: -42.4264px;
    border-bottom: solid 2.8284px #333333;
    border-left: solid 2.8284px #333333;
  }
  
}

