.gameBoard {
  position: relative;
  img {
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
  }
  .cave {
    position: absolute;
    &:hover {
      background-color: rgba(250, 0, 0, 0.2);
      cursor: pointer;
    }
  }
}