.gameBoard {
  position: relative;
  color: white;
  img {
    width: 100%;
  }
  .paths {
    position: absolute;
    top: 0;
    left: 0;
  }
  .room {
    position: absolute;
    text-align: center;
    background: url('hex_white.png') center top no-repeat;
    background-size: 90%;
    color: black;
    &.virtual {
      background-image: url('hex_dark.png');
      color: white;
    }
    &.legalMove:hover {
      background-image: url('hex_light.png');
      cursor: pointer;
    }
    &.player {
      background-image: url('hex_player.png');
    }
    &.bat {
      background-image: url('hex_bat.png');
    }
    &.pit {
      background-image: url('hex_pit.png');
    }
    &.wumpus {
      background-image: url('hex_wumpus.png');
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
    }
    p {
      margin: 40px 0;
      font-size: 22px;
    }
  }
}